html{
    background-color:aliceblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:rebeccapurple;
    size:150%;
   padding-top:1em;
   padding-bottom:1em
}
h2{
    size:125%;
    padding-bottom:.5em;
}
h3{
    size:115%;
}
img{
    float:left;
    padding-left:2px;
    padding-bottom:2px;
    padding-right: 2px;
}

main{
    padding-left: 2em;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    margin:2em auto;
    border-style:double;
    border-color:rebeccapurple;

    
}

p{
        padding-left: 2em;
    }

footer{
    border-top: 2px solid;
    border-color:rebeccapurple;
    text-align:center;
}

cite{
   
        font-weight:bold;
        color:rebeccapurple; 
        
    
}



