html{
    background-color:aliceblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:rebeccapurple;
    size:150%;
   padding-top:1em;
   padding-bottom:1em;
   padding-left: 1em;

}
h2{
    size:125%;
    padding-bottom:.5em;
     padding-left: 1em;
}
h3{
    size:115%;
     padding-left: 1em;
}

p{
    padding-left: 1em;
    padding-bottom:1em;
}

img{
    float:left;
    padding-left:1em;
    padding-bottom:.5em;
    padding-right: .5em;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    margin:2em auto;
    padding-right: .5em;
    border-style:double;
    border-width: 3px;
    border-color:rebeccapurple;
    background-color: white;
}

ul{
    padding-bottom: 2em;
    padding-left: 1em;
}



footer{
    text-align:center;
    border-top:rebeccapurple;
}

cite{
        font-weight:bold;
        font-size:150%;
        color:rebeccapurple; 
        padding-left: 1em;
        
    
}



